.loginPage {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    overflow: hidden;
}

.verticalCenter {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.loginForm {
    background-color: rgba(29, 28, 28, 0.816);
    color: rgba(255, 255, 255, 0.573);
    ;
}

.loginButton {
    background-color: rgba(255, 255, 255, 0.573);
}

.head {
    /* background: url('Images/logo2.jpg?v=1'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
    width: 200px;
    height: 60px;
}

.top-buffer {
    margin-top: 35px;
}

.inputField {
    background-color: gray;
}

.left {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

.warning {
    color: red;
    font-size: small;
}
