.loginPage {
    background: url('Images/Logo.jpg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("Images/Logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 160% 180%;
}

.verticalCenter {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.loginForm {
    background-color: rgba(29, 28, 28, 0.816);
    color: rgba(255, 255, 255, 0.573);
    ;
}

.loginButton {
    background-color: rgba(255, 255, 255, 0.573);
}

.head {
    background: url('Images/logo2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
    width: 800px;
    height: 60px;
}

.top-buffer {
    margin-top: 35px;
}

.inputField {
    background-color: gray;
}
